.Container {
    height: 100vh;
    background: -webkit-linear-gradient(-130deg, rgb(250, 250, 192), rgba(0, 0, 202, 0.644), rgb(92, 92, 92));
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FormContainer {
    color: white;
    background-color: rgba(48, 48, 48, 0.699);
    box-shadow: rgba(0, 0, 0, 0.233) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    min-width: 380px;
    padding: 2rem;
    border-radius: 20px;
    align-items: center;
    transition: 200ms;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
}

.FormContainer>h2 {
    margin-top: 0px;
}

.FormContainer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 8px;
    transition-duration: 300ms;
}

.FormContainer a:hover {
    color: rgba(255, 255, 255, 0.521);
}

.InputContainer>input {
    background-color: transparent;
    -webkit-text-fill-color: rgba(200, 200, 200, 0.726);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition-duration: 120ms;
}

.InputContainer>input:hover {
    scale: 1.05;
}

.InputContainer>input:-webkit-autofill {
    background-color: rgba(48, 48, 48, 0.699) !important;
    /* Match the background color of your form */
    -webkit-text-fill-color: rgba(200, 200, 200, 0.726) !important;
    /* Match the text color */
    border-color: rgb(200, 200, 200) !important;
    /* Match the border color */
    transition: background-color 5000s ease-in-out 0s;
    /* Prevent flicker of background color */
}

.InputContainer>button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background: red;
    margin-bottom: 10px;
    width: 150px;
    align-self: center;
    transition-duration: 400ms;
}

.InputContainer>button:hover {
    background-color: rgb(158, 0, 0);
    width: 100%;
    align-self: center;
}

.PasswordContainer {
    position: relative;
}

.PasswordContainer input {
    padding: 15px;
    background-color: transparent;
    -webkit-text-fill-color: rgb(200, 200, 200);
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition-duration: 120ms;
    width: 100%;
}

.PasswordContainer>input:hover {
    scale: 1.05;
}

.PasswordContainer input:-webkit-autofill {
    background-color: rgba(48, 48, 48, 0.699) !important;
    -webkit-text-fill-color: rgb(200, 200, 200) !important;
    border-color: rgb(200, 200, 200) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.PasswordContainer button {
    -webkit-text-fill-color: rgb(200, 200, 200);
    position: absolute;
    top: 5px;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    transition-duration: 400ms;
    cursor: pointer;
    background: none;
}

.PasswordContainer>button:hover {
    align-self: center;
    text-decoration: underline;
}

.Container .FormContainer .InputContainer .no-arrow::-webkit-inner-spin-button {
    display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Container .FormContainer .InputContainer .profilepic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1vh;
    align-self: center;
}

.social {
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: 200ms;
    align-items: center;
}

.social:hover {
    scale: 1.2;
}