.hnavbar {
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 15px;
    margin: 10px;
    padding: 1vh;
    height: 4rem;
    align-items: center;
}

.hnavbar img {
    cursor: pointer;
    border-radius: 100%;
    margin-right: 10px;
    width: 2.5rem;
    aspect-ratio: 1/1;
    transition: 120ms;
}

.hnavbar img:hover {
    scale: 1.1;
}


.hnavbar .logout {
    cursor: pointer;
    right: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: darkred;
    color: white;
    padding: 10px;

}